<nav class="container-fluid d-flex p-2 justify-content-evenly" style="background-color: #9CCC65;">

  <a routerLink="/" class="navbar-brand ms-3">
    <i class="bi bi-person-circle mt-2" style="font-size: 30px;"></i>
    &nbsp; Usuarios
  </a>

  <div class="d-inline-flex p-2">
    <div class=" d-flex justify-content-between">
      <a routerLink="/login" class="btn btn-info">Ingresar</a>
      <a routerLink="/registro" class="btn btn-secondary ms-2">Registrarse</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
